.users_ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}


.users_ul > li {
    margin: 20px;
}


.profile_div {
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    padding-left: 20px;
}


.profile_div > p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400px;
    font-size: 15px;
}


.user_prof_img {
    height: 256px;
    width: 256px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10%;
    align-self: center;
}


.content > h1 {
    margin-left: 20px;
}

#prof_title {
    font-size: 16px;
    margin-bottom: 25px;
}

#prof_email {
    font-size: 14px;
}

#prof_name {
    font-size: 25px;
    font-weight: 550;
}