p,
h1,
h2,
h3,
h4,
a,
div,
label,
.dark,
button,
textarea,
ul,
li,
.NavLink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dark {
    background-color: rgb(55, 55, 55);
}

#root {
    height: 98vh;
    width: 98vw;
    display: grid;
    grid-template-columns: minmax(150px,17%) minmax(83%,93%);
    grid-template-rows: 40px 1fr;
    grid-template-areas:
    'sidebar navbar'
    'sidebar content';
}


.sidebar {
    grid-area: sidebar;
    min-width: 150px;
    /* background-color: #050203; */
    /* overflow-y: scroll; */
    /* border: 2px solid white; */
    position: relative;
    overflow-x: hidden;
}


.logged_out {
    grid-area: 1 / 1 / 3 / 3;
    background-color: rgb(250, 250, 250);
    min-height: 150vh;
}


.content {
    grid-area: content;
    background-color: rgb(75, 75, 75);
}


.navbar {
    grid-area: navbar;
}


.form_div {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}


.website {
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.website > img {
    margin-right: 7px;
    height: 50px;
    width: 50px;
}

.website_s:hover {
    cursor: pointer;
}

.form_action {
    font-size: 48px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}


.form_errors {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: antiquewhite;
    border: 1px solid red;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
}


.form_error {
    font-size: 18px;
    color: red;
    margin-bottom: 1vh;
}


.form_divs {
    margin-top: 1vh;
    margin-bottom: .5vh;
}


.form_label {
    font-size: 17px;
    margin-bottom: 2px;
    margin-left: 5px;
}


.form_divs > input {
    padding-left: 9px;
    border: 1px solid grey;
    width: 350px;
    height: 36px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.1s ease;
}


.form_divs > textarea {
    padding-left: 9px;
    border: 1px solid grey;
    width: 350px;
    height: 100px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.1s ease;
    resize: none;
}


.form_divs > input:hover,
.form_divs > textarea:hover {
    border: 1px solid darkgray;
}


.form_divs > input:focus,
.form_divs > textarea:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 1px 3px lightblue;
}

.form_upload_btn {
    margin-top: 2vh;
    text-decoration: none;
    background-color: #4a154b;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .06s ease-in;
    height: 40px;
    width: 370px;
    transition: 0.3s ease;
}


.form_upload_btn:hover {
    background-color:#672868;
}

.form_p {
    max-width: 370px;
    min-height: fit-content;
    font-size: 20px;
}

.form_submit {
    margin-top: 2vh;
    text-decoration: none;
    background-color: #4a154b;
    font-weight: bold;
    color: white;
    font-size: 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .06s ease-in;
    height: 50px;
    width: 370px;
    transition: 0.3s ease;
}


.form_submit:hover {
    background-color:#672868;
}


.other_submit {
    background-color: #007a5a;
    margin-top: 2vh;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .06s ease-in;
    height: 50px;
    width: 130px;
    transition: 0.3s ease;
}


.other_submit:hover {
    background-color: #0b946f;
}


.other_cancel {
    background-color: rgb(55, 55, 55);
    margin-top: 2vh;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .06s ease-in;
    height: 50px;
    width: 130px;
    transition: 0.3s ease;
}


.other_cancel:hover {
    border: 1px solid white;
}


.other_cancel:active {
    color:rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200);
}


.form_links {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}


.form_link {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}


.form_link > p {
    margin-top: 10px;
}


.form_link_p {
    font-size: 18px;
}


.devlinks_div > a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(45, 45, 45);
}


.devlinks_div > a:hover {
    color: black;
}


.uploading_img {
    max-height: 18px;
    max-width: 18px;
}


.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#splash_links {
    display: flex;
    flex-direction: row;
}


#nav_p {
    color: rgb(45, 45, 45);
}


#nav_p:hover {
    color: black;
}