@media (max-width: 1800px) {
    .nav_div {
        grid-template-columns: auto auto 200px 350px;
    }

    .nav_divs_3 {
        justify-content: center;
    }

}

@media (max-width: 650px) {
    #nav_p {
        margin-left: 25px;
        margin-right: 25px;
    }
}