.sidebar {
    background-color: rgb(25, 23, 29);
    border-right: 1px solid grey;
}


.sidebar_main_div {
    word-break: break-all;
    padding-left: 3px;
}


.nav_dev_links {
    margin-top: 30px;
}


.nav_dev_links > a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(243,247,250);
}


.nav_dev_links > a:hover {
    color: white;
}


.top_channels {
    margin-top: 40px;
    margin-bottom: -15px
}


.tc_title {
    font-size: 16px;
    color: rgb(150,149,152);
    font-weight: 400;
}

.tc_add {
    margin-top: -10px;
    margin-bottom: 3px;
    font-size: 16px;
    color: rgb(150,149,152);
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.tc_add:hover {
    cursor: pointer;
}

.tc_add > p {
    margin-top: 3px;
    color: rgb(150,149,152);
}


.new_channel_modal {
    background-color: rgb(43,42,48);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(43,42,48);
    transition: all .1s ease-in;
    margin-right: 5px;
    color: rgb(150,149,152);
}


.new_channel_modal:hover {
    cursor: pointer;
}

.modal_button {
    background-color: rgb(25, 23, 29);
    font-size: 16px;
    border: none;
    padding: 3px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.modal_button:hover {
    cursor: pointer;
    color: rgb(243,247,250);
    transition: all .1s ease-in;
}


.modal_button:active {
    color:rgb(5, 5, 5);
}


.c_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edit_delete_channel {
    display: flex;

}


.channel_title {
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding: 4px;
    margin-right: 7px;
    color: rgb(150,149,152);
}


.channel_title:hover {
    cursor: pointer;
    background-color: rgb(56,55,60);
}

.current_channel_title {
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding: 4px;
    margin-right: 7px;
    background-color: rgb(17,100,163);
    color: rgb(243,247,250);
}

.current_channel_title:hover {
    cursor: pointer;
}

/* TBD 
    Github & LinkedIn to Pics
    Github to project github
    Edit & Delete CSS
*/