nav {
    z-index: 1;
    background-color: dimgrey;
}


.nav_div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-height: 50px;
}


.nav_divs_1 {
    grid-column: 1;
    max-height: 50px;
}


.nav_divs_2 {
    grid-column: 2;
    max-height: 50px;
}


.nav_divs_3 {
    grid-column: 3;
}


.NavLink {
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}


.pic_name {
    display: flex;
}


.menu_name {
    margin-left: 25px;
    font-size: 20px;
}


.NavLink:hover {
    color: darkgray;
    cursor: pointer;
}


.profile_menu {
    background-color: dimgrey;
    width: 300px;
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
}


.menu_img {
    height: 40px;
    width: 40px;
    border-radius: 10%;
}


.menu_item {
    font-size: 20px;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
}


.menu_item:hover {
    background-color:steelblue;
    cursor: pointer;
}


.navlink_divs {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_bar_user_img {
    height: 30px;
    width: 30px;
    border-radius: 10%;
}